<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>madrid</key>
			<dict>
				<key>UIPrerenderIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_real_madrid</string>
				</array>
			</dict>
			<key>bayer</key>
			<dict>
				<key>UIPrerenderIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_bayer</string>
				</array>
			</dict>
			<key>porto</key>
			<dict>
				<key>UIPrerenderIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_porto</string>
				</array>
			</dict>
			<key>monaco</key>
			<dict>
				<key>UIPrerenderIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_monaco</string>
				</array>
			</dict>
			<key>banfield</key>
			<dict>
				<key>UIPrerenderIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_banfield</string>
				</array>
			</dict>
			<key>envigado</key>
			<dict>
				<key>UIPrerenderIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_envigado</string>
				</array>
			</dict>
			<key>colombia</key>
			<dict>
				<key>UIPrerenderIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_colombia</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>ams</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
